footer {
    padding: 0 20px;
    color: #fff;
    font-weight: lighter;
    
    a {
        color: #fff;
        font-weight: lighter;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        
        &:hover {
            color: #fff;
            text-decoration: none;
            border-bottom: 0;
        }
    }
    
    a, a:hover {
        -webkit-transition: border-bottom ease-out 250ms;
        -moz-transition: border-bottom ease-out 250ms;
        -o-transition: border-bottom ease-out 250ms;
        transition: border-bottom ease-out 250ms;
    }
}