footer {
    padding: 0 20px;
    color: #fff;
    font-weight: lighter;
    
    a {
        color: #fff;
        font-weight: lighter;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        
        &:hover {
            color: #ccc;
            text-decoration: none;
        }
    }
}