.img-grid {
    margin: 40px 0 20px 0;
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

@media (min-width: 1201px) {
    .img-grid {

        img {
            width: 32.2%;
            height: 100%;
            float: left;
            padding: 1%;
        }

        img:first-child, img:nth-child(6n+5) , img:nth-child(6n+1) {
            width: 66%;
            margin-bottom: 40px;
        }

        img:nth-child(6n+4) {
            clear: left;
        }

        img:nth-child(6n+5) {
            float: right;
            margin-right: 1.8%
        }
    }
    
    .img-grid.vertical {
        img, img:first-child, img:nth-child(6n+5) , img:nth-child(6n+1), img:nth-child(6n+4) {
            width: 32%;
            float: left;
            clear: none;
            margin-bottom: 40px;
            margin-right: 1%;
        }
    }
}
    
@media (max-width: 1200px) {
    .img-grid {

        img {
            width: 50%;
            height: 100%;
            float: left;
            padding: 1%;
        }

        img:first-child, img:nth-child(3n+4) {
            width: 100%;
        }
    }
    .img-grid.vertical {

        img, img:first-child, img:nth-child(3n+4) {
            width: 50%;
            height: 100%;
            float: left;
            padding: 1%;
        }
    }
}
    
@media (max-width: 980px) {
    .img-grid {

        img {
            width: 100%;
        }
    }
    
    .img-grid.vertical img, .img-grid.vertical img:first-child, .img-grid.vertical img:nth-child(3n+4) {
        width: 100%;
    }
}