nav {
    flex-grow: 2;
    
    ul {
        list-style: none;
        padding: 0;
        
        li {
            padding: 0 20px;
            border-top: 1px solid #14505A;
            background: url(https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/img/icons/CTA-ARROW-white.png) no-repeat right 20px center;
            -webkit-transition: background ease-out 500ms;
            -moz-transition: background ease-out 500ms;
            -o-transition: background ease-out 500ms;
            transition: background ease-out 500ms;
            
            &:last-child {
                border-bottom: 1px solid #14505A;
            }
                
            &:hover {
                background: #14505A;
                background: url(https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/img/icons/CTA-ARROW-white.png) no-repeat right 20px center #14505A;
            }
            
            a {
                display: block;
                padding: 12px 30px 12px 0;
                color: #fff;
                font-weight: lighter;
            
                &:hover {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}