.sidebar {
    height: initial;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 330px;
    min-width: 330px;
    background: #1c6370;
    flex: 1 1 auto;
    z-index: 9999;
    position: fixed;
}

@media (max-width:768px) {
    .sidebar {
        min-width: 100%;
        overflow-y: hidden;
        min-height: initial;
        flex-shrink: 0;
        height: 53px;
    }
}
