<header class="col-sm-12">
  <h1><perch:blog id="postTitle" type="text" label="Title" required="true" size="xl autowidth" order="1" /></h1>
  <p><perch:blog id="date" type="text" label="Project Date" markdown="true" order="2" size="xl autowidth" /></p>
</header>

<div class="main-content row col-sm-12">
    <div class="description col-lg-8 col-md-10">
        <perch:blog id="postDescHTML" type="textarea" label="Post" order="3" editor="markitup" markdown="true" size="xxl autowidth" required="true" />
        
        <perch:if exists="site-link" order="4" >
                <p>
                    <a href="<perch:blog id="site-link" type="text" label="Site Link" />" alt="<perch:content id="link-text" label="Link Text" />">
                        <perch:blog id="link-text" type="text" label="Link Text" />
                    </a>
                </p>
        </perch:if>
        
        <perch:if exists="pdf-upload" order="5" >
            <p>
                <a href="<perch:blog id="pdf-upload" type="file" label="PDF Upload" />">Download this project</a>
            <p>
        </perch:if>
    </div>
    
    <div class="col-sm-12 col-lg-10 col-md-12">
        <div class="cards">
            <perch:repeater id="images" label="Images" order="6">
                <perch:blog id="image" type="image" label="Image" suppress="true" />

                <a href="<perch:blog id="image" type="image" label="Image"/>" data-lightbox="<perch:blog id="image" type="image" label="Image"/>">
                    <div class="card">
                        <img src="<perch:blog id="image" type="image" label="Image" width="768" />" alt="<perch:blog id="postTitle" />" />
                    </div>
                </a>

             </perch:repeater>
        </div>
    </div>
</div>

<perch:blog id="thumb-img" type="image" label="Thumbnail Image" order="7" suppress="true" crop="true" width="280" height="170" />